.home_menu_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    color: black;
    margin-left: 1.58rem;
    font-size:1.5rem;
}

a{
    text-decoration: none;
    color:black;
}